{% extends 'base.html.twig' %}

{% block body %}
    {% for tutorial in tutorials %}
    {{ tutorial.name }}
    <form action="{{ url('tutorial_remove', {id: tutorial.id}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('tutorial_remove') }}">
        <button type="submit">Delete</button>
    </form>
    <hr/>
    {% endfor %}
{% endblock %}
